* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.container {
    width: 450px;
    min-height: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.container::after {
    content: "FORM ĐĂNG KÝ";
    position: absolute;
    top: -10px;
    left: 30px;
    color: #008060;
    font-weight: bold;
    background-color: white;
    padding: 0 25px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding:0 30px ;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 2px solid #cba;
    border-radius: 15px;
    font-size: 15px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal-button {
    display: none;
}

.icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #444;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input[type="submit"] {
    padding: 8px 30px;
    background-color: #00f7ff;
    color: black;
    border-radius: 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #00e1e8;
}
button{
    padding: 8px 30px;
    background-color: #00f7ff;
    color: black;
    border-radius: 10px;
    font-size: 16px;
}
button:hover {
    background-color: #00e1e8;
}
.group_nut {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
